*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/noche-de-montana-nevada-papel-pintado-3554x1999_53.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.App{
    height: 100vh;
    
}
